@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";   // view classes
}

<div class="text-center">
    <h1 class="display-4">Welcome To NFL Statistics</h1>
    <p>Get player stats for quarterbacks, runningbacks, and receivers from the 2021 season</a>.</p>
</div>
